---
title: Centre Dental Francesc Macià
menu: /layouts/menu_alternative.erb
active_about_us: active
---

<section id="about-us">
  <div class="container">
    <div class="box">
      <div class="center">
        <h2><%= t('.menus.equipo') %></h2>
        <!--<p class="lead">Pellentesque habitant morbi tristique senectus et netus et<br>malesuada fames ac turpis egestas.</p>-->
      </div>
      <div class="gap"></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'cristina_carrasco.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Dra Cristina Carrasco' %>
            </p>
            <h3>Dra Cristina Carrasco</h3>
            <p class="small">
              Núm Col COEC: 3962
            </p>
            <small class="designation">
              <ul class="text-left">
                <li>Licenciada en Odontología</li>
                <li>Postgrado de Ortodoncia</li>
                <li>Master Damon</li>
                <li>Master Invisalign</li>
              </ul>
            </small>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'lidia_tura.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Dra Lidia Tura' %>
            </p>
            <h3>Dra Lidia Tura</h3>
            <p></p>
            <small class="designation">
              <ul class="text-left">
                <li>Odontología General</li>
              </ul>
            </small>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'angels_sanchez.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Dra MªÀngels Sanchez' %>
            </p>
            <h3>Dra MªÀngels Sanchez</h3>
            <p></p>
            <small class="designation">
              <ul class="text-left">
                <li>Médico Estomatólogo</li>
                <li>Máster en Crirugía Bucal e Implantologia</li>
                <li>Profesora asociada Universidad de Barcelona</li>
                <li>Profesora Máster de Cirugía Bucal e Implantología Bucofacial</li>
              </ul>
            </small>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'monica_jimenez.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Mònica' %>
            </p>
            <h3>Mònica Jiménez</h3>
            <p></p>
            <small class="designation">
              <ul class="text-left">
                <li>Higienista</li>
                <li>Auxiliar experta en Invisalign y ortodoncia</li>
              </ul>
            </small>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'cristina_gonzalez.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Cristina Gonzalez' %>
            </p>
            <h3>Cristina Gonzalez</h3>
            <p></p>
            <small class="designation">
              <ul class="text-left">
                <li>Auxiliar dental</li>
              </ul>
            </small>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'eva_jimenez.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Eva Jiménez' %>
            </p>
            <h3>Eva Jiménez</h3>
            <p></p>
            <small class="designation">
              <ul class="text-left">
                <li>Recepcionista</li>
              </ul>
            </small>
          </div>
        </div>
      </div>
    </div><!--/.box-->
  </div><!--/.container-->
</section><!--/#about-us-->

<%= partial '/layouts/location.erb' %>
