---
title: Centre Dental Francesc Macià
menu: /layouts/menu_alternative.erb
active_about_us: active
---

<section id="about-us">
  <div class="container">
    <div class="box">
      <div class="center">
        <h2><%= t('.menus.equipo') %></h2>
        <p class="lead">Pellentesque habitant morbi tristique senectus et netus et<br>malesuada fames ac turpis egestas.
        </p>
      </div>
      <div class="gap"></div>

      <div class="row">
        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'cristina_carrasco.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Dra Cristina Carrasco' %>
            </p>
            <h3>Dra Cristina Carrasco</h3>
            <p class="small">
              Núm Col COEC: 3962
            </p>
            <small class="designation">
              <ul class="text-left">
                <li>Licenciada en Odontología</li>
                <li>Postgrado de Ortodoncia</li>
                <li>Master Damon</li>
                <li>Master Invisalign</li>
              </ul>
            </small>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'lidia_tura.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Dra Lidia Tura' %>
            </p>
            <h3>Dra Lidia Tura
              <br/>
              <small class="designation">Odontología General</small>
            </h3>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'angels_sanchez.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Dra MªÀngels Sanchez' %>
            </p>
            <h3>Dra MªÀngels Sanchez
              <br/>
              <small class="designation">Cirugía Oral e Implantología</small>
            </h3>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'team1.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Eva Arrellano' %>
            </p>
            <h3>Eva Arrellano
              <br/>
              <small class="designation">Logopeda y psicóloga infantil</small>
            </h3>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'monica_jimenez.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Mònica' %>
            </p>
            <h3>Mònica Jiménez
              <br/>
              <small class="designation">Higienista</small>
            </h3>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'cristina_gonzalez.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Cristina Gonzalez' %>
            </p>
            <h3>Cristina Gonzalez
              <br/>
              <small class="designation">Auxiliar dental</small>
            </h3>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-sm-4">
          <div class="member">
            <p>
              <%= image_tag 'eva_jimenez.jpg', class: 'img-responsive img-thumbnail img-circle', alt: 'Eva Jiménez' %>
            </p>
            <h3>Eva Jiménez
              <br/>
              <small class="designation">Recepcionista</small>
            </h3>
          </div>
        </div>
      </div>
    </div><!--/.box-->
  </div><!--/.container-->
</section><!--/#about-us-->

<%= partial '/layouts/location.erb' %>
