---
title: Centre Dental Francesc Macià
menu: /layouts/menu.erb
---

<section id="business">
  <div class="container">
    <div class="box">
      <div class="center gap">
        <h2><%= t('.menus.clinica') %></h2>
        <p class="lead">
          El Centre Dental Francesc Macià coordinado por la Dra. Cristina Carrasco cuenta con un equipo profesional
          altamente capacitado para tratar las afecciones bucales de toda la familia. Especializado en ortodoncia
          infantil y de adultos, nuestro objetivo es realizar un tratamiento integral con el mejor trato profesional en
          un ambiente cercano y familiar.
        </p>
      </div><!--/.center-->

      <% CLINICA_IMAGES = %w(clinica_1_MG_1296.jpg clinica_2_MG_0437.jpg clinica_3_MG_1277.jpg clinica_4_MG_1292.jpg) %>
      <% if CLINICA_IMAGES %>
        <div id="clinica-slider" class="carousel">
          <div class="carousel-inner">
              <% CLINICA_IMAGES.each_with_index do |image_src, i| %>
                <div class="item <%= 'active' if i.zero? %>">
                    <div class="container">
                        <div class="carousel-content">
                            <%= image_tag image_src, class: 'img-responsive', alt: 'Dra Cristina Carrasco', height: '600px' %>
                        </div>
                    </div>
                </div><!--/.item-->
              <% end %>
          </div><!--/.carousel-inner-->
          <a class="prev" href="#clinica-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
          <a class="next" href="#clinica-slider" data-slide="next"><i class="icon-angle-right"></i></a>
        </div>
      <% end %>
    </div><!--/.box-->
  </div><!--/.container-->
</section><!--/#services-->

<section id="services">
  <div class="container">
    <div class="box">
      <div class="center gap">
        <h2><%= t('.menus.servicios') %></h2>
      </div><!--/.center-->
    </div><!--/.box-->

    <div class="box first">
      <div class="row">
        <div class="col-md-4">
          <div class="center">
            <i class="icon-md icon-color1"></i>
            <h4>ORTODONCIA</h4>
            <p>
              <a href="http://www.damonbraces.com" target="_blank">Sistema Damon</a>,
              <a href="http://www.invisalign.com" target="_blank">Invisalign</a>,
              Ortopedia y Ortodoncia Interceptiva, Reeducación Miofuncional, Infantil y Adulta
            </p>
          </div>
        </div><!--/.col-md-4-->
        <div class="col-md-4">
          <div class="center">
            <i class="icon-md icon-color2"></i>
            <h4>ODONTOLOGÍA GENERAL Y CONSERVADORA</h4>
            <p>Reconstrucciones, Endodoncia, Prevención y Profilaxis</p>
          </div>
        </div><!--/.col-md-4-->
        <div class="col-md-4">
          <div class="center">
            <i class="icon-md icon-color3"></i>
            <h4>ODONTOLOGÍA ESTÉTICA</h4>
            <p>Blanqueamiento y Carillas.</p>
          </div>
        </div><!--/.col-md-4-->
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="center">
            <i class="icon-md icon-color4"></i>
            <h4>CIRUGÍA ORAL</h4>
            <p>Implantología, Cirugía de Dientes Incluidos, Frenectomía, Fenestración</p>
          </div>
        </div><!--/.col-md-4-->
        <div class="col-md-4">
          <div class="center">
            <i class="icon-md icon-color5"></i>
            <h4>PRÓTESIS</h4>
            <p>Sobredentaduras, Fija Sobre Implantes y Sobre Dientes Naturales,
              Incrustaciones, Prótesis Hibrida, Completas</p>
          </div>
        </div><!--/.col-md-4-->
        <div class="col-md-4">
          <div class="center">
            <i class="icon-md icon-color6"></i>
            <h4>ODONTOPEDIATRÍA</h4>
            <p>Pulpotomías, Reconstrucciones, Mantenedores de Espacio, Fluorizaciones, Sellados de Fisuras</p>
          </div>
        </div><!--/.col-md-4-->
      </div><!--/.row-->

      <div class="row">
        <div class="col-md-12 text-center">
          <a href="http://www.damonbraces.com" target="_blank">
            <%= image_tag 'DamonSystem_Logo_w_TagLine.png', height: '95px' %>
          </a>

          <iframe width='100%' height='400' src='https://www.youtube.com/embed/Le3vWu6o5vM' frameborder='0' allowfullscreen></iframe>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">
          <a href="http://www.invisalign.com" target="_blank">
            <%= image_tag 'invisalign_logo.png', height: '95px' %>
          </a>

          <iframe width='100%' height='400' src='https://www.youtube.com/embed/iWCn6LO8mWI' frameborder='0' allowfullscreen></iframe>
        </div>
      </div>


    </div><!--/.box-->
  </div><!--/.container-->
</section><!--/#services-->

<!--<section id="about-us">
  <div class="container">
    <div class="box">
      <div class="center gap">
        <h2>Financiación a medida</h2>
        <p class="lead">
          Hasta 24 meses sin intereses,
        </p>
        </p>
      </div>
    </div>
  </div>
</section>-->

<%= partial '/layouts/location.erb' %>
